<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenBuyer</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body class="top-navigation  pace-done">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        <div id="page-wrapper" class="gray-bg" >
            <% if false %>
                <%= render 'layouts/coming_soon' %>
            <% else %>   
                <!-- Top Navbar -->
                <%= render 'layouts/topnavbar' %>

                <!-- Main view  -->
                <%= yield %>

                <!-- Footer -->         
            <% end %>
            <!-- Page wraper -->
        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->
    
    <%= yield :javascript %>

</body>
</html>
